[Unit]
Description=Website Main Test Service
After=network.target

[Service]
Type=simple
ExecStart=/opt/test/WebsiteTest-main.sh 
Restart=on-failure
User=ubuntu
WorkingDirectory=/opt/test

[Install]
WantedBy=multi-user.target